<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Eis.Eca.WinApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="BkdtHdsv_ConnectionString" value="Data Source=182.237.21.82;Initial Catalog=BKDT.Hdsv;Integrated Security=false;User ID=sa;Password=Hdsv@123#;" />-->
    <!--<add key="BkdtHdsv_ConnectionString" value="Data Source=(local);Initial Catalog=BKDT.Hdsv;Integrated Security=false;User ID=sa;Password=123456;" />-->
    <!--<add key="BkdtHdsv_ConnectionString" value="Data Source=www.daotao.hcmut.edu.vn;Initial Catalog=BKDT.Hdsv;Integrated Security=false;User ID=udx.eis.sa;Password=BKDT@falkor#asd$123;"/>-->
    <add key="BkdtHdsv_ConnectionString" value="Data Source=172.28.2.241;Initial Catalog=BKDT.Hdsv;Integrated Security=false;User ID=udx.eis.sa;Password=BKDT@falkor#asd$123;"/>
    <add key="BKPortal_WebService_GetAccountInfo_User" value="ctct_hdsv"/>
    <add key="BKPortal_WebService_GetAccountInfo_Pass" value="hdsv@123"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Eis.Eca.WinApp.Properties.Settings>
      <setting name="Eis_Eca_WinApp_BKPortal_WebService_GetAccountInfo_MasterData"
        serializeAs="String">
        <value>http://www.daotao.hcmut.edu.vn/datamaster/MasterData.asmx</value>
      </setting>
    </Eis.Eca.WinApp.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
